<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel="shortcut icon" href="https://www.favicon.cc/logo3d/131633.png" />
  {% block head %}
    <title>GYM Manager</title>
  {% endblock %}

  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <header>
    <div class="links">
      <a href="/instructors">Instrutores</a>
      <a href="/members">Membros</a>
    </div>
  </header>

  {% block content %}{% endblock %}

  <script src="/scripts.js"></script>

</body>
</html>